<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>

  <div class="card-container">
    <div class="card-category"></div>
    <div class="card-imgs">
      <div class="carousel">
        <i class="bi bi-arrow-left-circle"></i>
        <img src="" alt="">
        <i class="bi bi-arrow-left-circle"></i>
      </div>
    </div>
    <div class="card-details">
      <div class="card-title"></div>
      <div class="card-description"></div>
      <div class="stack-view-more">
        <div class="stack-container"></div>
        <button class="btn btn-view-more"></button>
      </div>
    </div>
  </div>
  
  <script type="module" src="./teste.js"></script>
</body>
</html>